<!DOCTYPE html>
<html>
<head>
  <title>Bandturo - Tour booking dream machine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Abel|Clicker+Script|Oswald:300,400|Pacifico|Petit+Formal+Script" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="description" content="Book a tour today with our affordable, proven system and get paid to travel.">
  <meta name="keywords" content="Band, tour, booking, agent, booking agents, gigs, get more gigs">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-33713101-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class="homepage">
  <div id="wrapper">
      <header id="header">
        <div class="5grid-layout 5grid">
          <div class="row">
            <div class="12u" id="logo">
              <!-- Logo -->
              <div id="mobileUI-site-titlebar" class="logo-header">
                <%= image_tag("img04.png", alt: "Open Menu Icon", class: "icon-menu", id: "mobileUI-site-nav-opener") %>
                <h1><a href="#" class="mobileUI-site-title">Bandturo</a></h1>
                <p>Tour booking dream machine</p>
              </div>
            </div>
          </div>
        </div>
        <div class="5grid-layout 5grid">
          <div class="row">
            <div class="12u" id="menu">
              <div id="menu-wrapper">
                <nav class="mobileUI-site-nav">
                  <div class="icon-close">
                    <%= image_tag("ic_clear.png", alt: "Close Menu Icon", class: "icon-close") %>
                  </div>
                  <ul>
                    <li><%= link_to "Home", '/home', :method => :get, :class => 'nav_link'%></li>
                    <li><%= link_to "About", '/about', :method => :get, :class => 'nav_link'%></li>
                    <li><%= link_to "FAQ", '/faq', :method => :get, :class => 'nav_link'%></li>
                    <li><%= link_to "Contact", '/contact', :method => :get, :class => 'nav_link'%></li>
                    <li><%= link_to "Testimonial", '/testimonial', :method => :get, :class => 'nav_link'%></li>
                    <li><%= link_to "Get Started", '/get_started', :method => :get, :class => 'nav_link get_started_link'%></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div> 
  <%= yield %>
    <div class="5grid-layout 5grid">
      <div class="row" id="footer-content"></div>
    </div>
    <div id="copyright" class="5grid-layout 5grid">
      <section>
        <p>&copy; Bandturo | 726 NW 8th Ave Suite F, Gainesville, Florida 32601 | (352)354-7461</p>
      </section>
    </div>
  </div>
</body>
</html>
